// for loop example
@for $i from 1 through 12 {
    // itteration или итерация
    $width: (100% / 12) * $i;
    .item-#{$i} {
        width: $width;
    }
}

// while loop
$iterator: 6;
@while $iterator > 0 {
    .col-#{$iterator} {
        width: 2vw * $iterator;
    }

    $iterator: $iterator - 2;
}