// .clearfix {
//     &:after,
//     &:before {
//         content: '';
//         display: block;
//         clear: both;
//     }
// }












@mixin clearfix {
    &:after,
    &:before {
        content: '';
        display: block;
        clear: both;
    }
}

@mixin btn-style ($bg-color, $font-color, $border-color) {
    background: $bg-color;
    color: $font-color;
    border-color: $border-color;
}

// Flexbox display
@mixin flex($important: false) {

	@if ($important == '!important') {
		display: -webkit-box !important;
		display: -moz-box !important;
		display: -ms-flexbox !important;
		display: -webkit-flex !important;
		display: flex !important;
	} @else {
		display: -webkit-box;
		display: -moz-box;
		display: -ms-flexbox;
		display: -webkit-flex;
		display: flex;
	}
}

@mixin flex-inline($important: false) {

	@if ($important == '!important') {
		display: -webkit-box !important;
		display: -moz-box !important;
		display: -ms-inline-flexbox !important;
		display: -webkit-inline-flex !important;
		display: inline-flex !important;
	} @else {
		display: -webkit-box;
		display: -moz-box;
		display: -ms-inline-flexbox;
		display: -webkit-inline-flex;
		display: inline-flex;
	}
}

@mixin flex-direction($direction, $important: false) {

	@if ($important == '!important') {
		-webkit-flex-direction: $direction !important;
		-moz-flex-direction: $direction !important;
		-ms-flex-direction: $direction !important;
		flex-direction: $direction !important;
	} @else {
		-webkit-flex-direction: $direction;
		-moz-flex-direction: $direction;
		-ms-flex-direction: $direction;
		flex-direction: $direction;

	}
}

@mixin justify-content($justify, $important: false) {
	@if ($important == '!important') {
		-webkit-justify-content: $justify !important;
		-moz-justify-content: $justify !important;
		-ms-justify-content: $justify !important;
		justify-content: $justify !important;
		-ms-flex-pack: $justify !important;
	} @else {
		-webkit-justify-content: $justify;
		-moz-justify-content: $justify;
		-ms-justify-content: $justify;
		justify-content: $justify;
		-ms-flex-pack: $justify;
	}
}
