// .clearfix {
//     &:after,
//     &:before {
//         content: '';
//         display: block;
//         clear: both;
//     }
// }












@mixin clearfix {
    &:after,
    &:before {
        content: '';
        display: block;
        clear: both;
    }
}


@mixin btn-style ($bg-color, $font-color, $border-color) {
    background: $bg-color;
    color: $font-color;
    border: $border-color;
}



