// .clearfix {
//     &:after,
//     &:before {
//         content: '';
//         display: block;
//         clear: both;
//     }
// }












@mixin clearfix {
    &:after,
    &:before {
        content: '';
        display: block;
        clear: both;
    }
}