@import "vars";
@import "mixins";
@import "for_loop";
@import "nesting";

.footer {
	background: #54d154;
}
.footer h2 {
	color: #288728;
margin: 20px 0 0;
}

.wrap	{
	display: block;
	background: #54d154;
	text-align: center;
	padding-top: 20px;
}

.wrap p {
	color: #36a936;
	margin: 10px;
}

.horizont-line {
	height: 2px;
	width: 45px;
	background: #207b20;
	display: inline-flex;
}

.content {
	box-sizing: border-box;
	display: flex;
	justify-content: space-between;
	margin: 125px 175px;
}

.team {
	display: flex;
	flex-direction: row;
	width: 100px;
	height: 30px;
	border-radius: 30px;
}

.team a {
	text-decoration: none;
	margin-right: 10px;
}

.team-1 {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.vertical-line {
	height: 65px;
	width: 2px;
	background: #207b20;
	display: inline-flex;

}

.team-1 p {
	color: #f4fcf4;
}

.bottom-team-present {
	background: #3eba3e;
	display: flex;
	justify-content: center;
	padding: 20px;
}

.button-team  {
	width: 15%;
	border: 2px solid #3eba3e;
	border-radius: 30px;
	background:  #54d154;
	padding: 10px;

}

.button-team a {
	color: #f4fcf4;
	text-decoration: none;
}