.footer {
    background: $third-brand-color-darker;
    color: $third-brand-color;

    @include clearfix;

    &.blue { // & = .footer
        background: blue;

        &.red { // & = .footer.blue
            background: red;
        }
    }


    .blue {
        background: blue;

        .red {
            background: red;
        }
    }

    & > h2 {
        color: #000;
    }

    h2 { /*.footer h2*/
        color: #288728;
        margin: 20px 0 0;
        background: url('./../img/some-image.jpg') no-repeat 0 0;

        a { //.footer h2 a
            text-decoration: underline;
        }
    }

    p {

        // example of math functions
        color: $main-brand-color;
        margin: $paragraph-big-mg;
        width: calc(99% + 5px);
        padding: $paragraph-big-mg + $paragraph-small-mg;
        border: $paragraph-big-mg + 5px;
    }
}

.btn {

    display: inline-block;

    @include btn-style($third-brand-color, #fff, red);
    // какво никне от функцията:
    // background: #000;
    // color: #fff;
    // border-color: red;

    &.info {

        @include btn-style(blue, #fff, green);

    }

    &.submit {
        @include btn-style(gray, #fff, #c1c1c1);
    }
}

.wrap   {
    display: block;
    background: #54d154;
    text-align: center;
    padding-top: 20px;
}

.wrap p {
    color: #36a936;
}

.horizont-line {
    height: 2px;
    width: 45px;
    background: #207b20;
    display: inline-flex;
}

.content {
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    margin: 125px 175px;
}

.team {
    display: flex;
    flex-direction: row;
    width: 100px;
    height: 30px;
    border-radius: 30px;
}

.team a {
    text-decoration: none;
    margin-right: 10px;
}

.team-1 {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.vertical-line {
    height: 65px;
    width: 2px;
    background: #207b20;
    display: inline-flex;

}

.team-1 p {
    color: #f4fcf4;
}

.bottom-team-present {
    background: #3eba3e;
    display: flex;
    justify-content: center;
    padding: 20px;
}

.button-team  {
    width: 15%;
    border: 2px solid #3eba3e;
    border-radius: 30px;
    background:  #54d154;
    padding: 10px;

}

.button-team a {
    color: #f4fcf4;
    text-decoration: none;
}