.footer {
	background: $bg-colour;
}

.headline-wrap	{
	display: block;
	background: $bg-colour;
	text-align: center;
	padding-top: 20px;

	& h2 {
		color: #288728;
		margin: 20px 0 0;
	}
	& .horizont-line {
	height: 2px;
	width: 45px;
	background: #207b20;
	display: inline-flex;
	}

	& p {
		color: #36a936;
		margin: 10px;
	}
}

.members-wrap {
	box-sizing: border-box;
	display: flex;
	justify-content: space-between;
	margin: 125px 175px;
}

.member {
	@include flex(flex, column); 
	align-items: center;
	
	& .vertical-line {
		height: 65px;
		width: 2px;
		background: #207b20;
		display: inline-flex;
	}

	& p {
	color: #f4fcf4;
	}

	& .team-btn {
		@include flex(flex, row);
		width: 100px;
		height: 30px;
		border-radius: 30px;
	}

	& a {
		text-decoration: none;
		margin-right: 10px;
	}
}

.bottom-team-present {
	@include flex(flex, '');
	background: #3eba3e;
	padding: 20px;
	justify-content: center;

	& .button-team  {
		@include box('', 2px solid #3eba3e, 30px, 10px);
			width: 15%;
			background:  #54d154;

		& a {
			color: #f4fcf4;
			text-decoration: none;
		}
	}	
}
